<div #templateRef class="cv-template-template2">
  <div class="header">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <h1>{{ formData.name }}</h1>
    <img [src]="profileImageUrl" class="avatar" alt="Profile Image" />
  </div>

  <div class="two-column">
    <div class="left">
      <h3>Profile</h3>
      <h3>Contact</h3>
        <p> {{ formData.email }} | {{ formData.phone }}</p>
      <h3>address</h3>
        <p> {{ formData.address }}</p>
      <h3>Birthday</h3>
      <p> {{ formData.birthday }}</p>
    </div>
    <div class="right">
      <h3>Education</h3>
      <p>{{ formData.education }}</p>

      <h3>Languages</h3>
      <p>{{ formData.languages }}</p>

      <h3>Experience</h3>
      <p>{{ formData.experience }}</p>

      <h3>Skills</h3>
      <p>{{ formData.skills }}</p>
    </div>
  </div>
</div>